/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.v-btn {
  text-transform: none;
}

@for $i from 1 through 20 {
  .w-#{$i} { width: #{$i}rem; }
  .h-#{$i} { height: #{$i}rem; }
}
